.maindiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.innerCard {
    background-color: white;
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    max-height: 95vh;
    overflow-y: scroll;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.maindiv ::-webkit-scrollbar{
    display: none;
}

.innerCardHeading {
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}

.innerCard img {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    margin-bottom: 1rem;
    min-width: 500px;
}

.innerCardButton {
    background-color: #4E9CAF;
    border: none;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
    margin-left: auto;
    padding: 0.5rem 1rem;
}

.innerCardButton2 {
    padding: 0.5rem 1rem;
    background-color: #4E9CAF;
    border: none;
    border-radius: 0.2rem;
    color: white;
    cursor: pointer;
}


.bookSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.price{
    font-size: 1rem;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .innerCard {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }
    .innerCard img {
        max-width: 100%;
        min-width: 100%;
    }
    .innerCardHeading {
        font-size: 1rem;
    }
    .innerCardButton {
        padding: 0.5rem 1rem;
    }
    .innerCardButton2 {
        padding: 0.5rem 1rem;
    }
    .bookSection{
        flex-direction: column;
    }
    .price{
        margin-top: 1rem;
    }
}
    
