.smallCard {
    width: 23vw;
    height: 33vh;
    /* margin: 0 auto; */
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    /* padding: 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    /* padding: 1rem; */
    position: relative;
    overflow: hidden;
}

.smallCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.smallCardP{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(10px);
    padding: 0.3rem;
    transition: all 0.3s;
    transform: translateY(80%);
}

.smallCardP p{
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;
    color: #000;
}

.smallCard:hover .smallCardP{
    transform: translateY(0);
    align-items: center;
}

.smallCard:hover .smallCardP p{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}

@media only screen and (max-width: 1300px) {
    .smallCard {
        width: 28.8vw;
    }
}

@media only screen and (max-width: 700px) {
    .smallCard {
        width: 48.8vw;
    }
}